.App {
  text-align: center;
  flex: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(27, 15, 27);
  min-height: 100vh;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.PromptLabel {
  font-weight: bold;
}

.inputContainer {
  text-align: center;
  align-content: center;
  flex: content;
  flex-direction: column;
  align-items: center;
  display: flex;
  color: hsl(0, 0%, 0%);
}
.box {
  width: fit-content;
  border-style: outset;
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
}

.button2 {
  flex: auto;
  background-color:gray;
  color: azure;
  font-weight: bold;
}
.title {
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 7px;
  flex: content;
  vertical-align:middle;
  display: inline-block;
}

.titleContainer {
  width: fit-content;
  display: inline-block;
  vertical-align: center;
  padding-left: 20px;
}

.title span {
  transition: 0.25s ease-out;
}

.title:hover span {
  color:gray
}

.box {
  transition: 0.5s ease-out;
  background-color: paleturquoise;
}

.box:hover {
  color: rgb(4, 51, 4);
  background-color: rgb(115, 197, 197);
  
}

input {
  text-align: center;
  cursor: pointer;
}

.titleLink {
    color:white;
    transition: 0.5s ease-out;
    text-decoration: none;
}

.titleLink:hover {
  color:gray;
}

ul {
  list-style-type: none;
  display: inline;
}

li {
  display: inline;
  padding: 10px;
}

nav {
  flex: content;
  width: fit-content;
  float: left;
}

.navbar {
  width: fit-content;
  display: inline-block;
  top:50%;
  vertical-align: center;
  align-self: center;
}

.topLine {
  display: flex;
  justify-content: space-between;
}

.loginLink {
  padding-right: 20px;
  transition: 0.5s ease-out;
  font-size: 24;
}

.loginLink:hover {
  color:gray;
  cursor: pointer;
}