.App {
  text-align: center;
  flex: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.PromptLabel {
  font-weight: bold;
}

.inputContainer {
  text-align: center;
  align-content: center;
  flex: content;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.box {
  width: fit-content;
  border-style: outset;
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
}
.button {
  flex: auto;
  background-color:gray;
  color: azure;
  font-weight: bold;
}
.title {
  margin-top: 0;
  padding-top: 10px;
  color: hsl(0, 0%, 28%);
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
}

.title span {
  transition: 0.5s ease-out;
}

.title:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
